{%extends 'news/base.html'%}
{%block title%}
Your news
{%endblock%}
{%block jumbotron_content%}
    <div class="container">
        <h1>Django News</h1>
        <p>Well its a django project that serves news from your favorite feeds.</p>
      </div>
{%endblock%}
{%block main_content%}
<div class="row">
    {%for row in rows%}
        {%for entry in row%}
        <div class="panel panel-info" style="padding-left: 0px; padding-right: 0px;height: 100%;">
            <div class="panel-heading">
                <h4><a href="{{entry.url}}">{{entry.title}}</a></h4>
            </div>
            <div class="panel-body">
                <p>{{entry.description | safe}}</p>
                <small>{{entry.published_date}}</small>
            </div>
        </div>
        {%endfor%}
    {%endfor%}
</div>
{%endblock%}
